*  {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	margin: 10px 10px 10px 10px;
}

div.Sushi,.Beef,.Chicken {
    background-color: #00FFFF;
    font-size: 125%;
    float: right;
    right: -1px;
    top: -1px;
    padding: 5px;
    border: 1px solid black;
    min-width: 33%;
    text-align: center;
   -webkit-border-radius: 10px;
		
}

p {
	padding: 45px 10px 20px 10px;

}

section {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 10px;

}

article {
	background-color: gray;
	margin: 10px;
	border: 1px solid black;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px 5px;

}

.Beef {
    background-color: #DAA520;
}

.Chicken {
    background-color: #DC143C;
}



@media (min-width: 992px) {
    article {
        flex-grow: 1;
        width: 304px;  
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    article {
        flex-grow: 1;
        width: 354px;  
    }
}

@media (max-width: 767px) {
    article {
        flex-grow: 1;
        width: 100%;  
    }
}




